@font-face
{
	font-family: jetbrains-mono;
	src: url('./JetBrainsMono-Regular.woff') format('woff');
}

#editor
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: "Helevetica Neue", Helvetica, sans-serif;
}

#fontload
{
	font-family: 'Roboto', sans-serif;
    font-size: 0;
}